.dotnet-cli/
.dotnet-home/
.localdata/
.persist-server/
msedgedriver/
.edge-test/
.edge-test-shot/

.localserver/bin/
.localserver/obj/

*.log
edge-*.png
edge-*.html
rendered-dom*.html
app-served-check.js

!.nojekyll
